html {
    position: relative;
    min-height: 100%;
  }

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;

      /* Margin bottom by footer height */
      margin-bottom: 160px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 160px;
    line-height: 80px; /* Vertically center the text there */
    background-color: #ff0000;
}

.footer .logo-footer
{
    height: 160px;
    width: 218px;
}
  